In [1]:
import pandas as pd
import numpy as np

In [2]:
df_races = pd.read_csv('./../data/geo-data/races_lat_lon.csv')
df_races.head()

               race        lat         lon
0       alagoas70.3  -9.661669  -35.701667
1           arizona  33.433518 -111.937962
2       Arizona70.3  33.432270 -111.932982
3        astana70.3  51.125358   71.453152
4  atlanticcity70.3  39.350119  -74.449387

In [4]:
# coastline data
shorelines = pd.read_csv('./../data/geo-data/shorelines_lat_lon.csv')
shorelines.head()

         lat        lon
0  59.916026 -67.400486
1  59.678559 -67.394138
2  59.657481 -67.397231
3  59.646251 -67.406183
4  59.648123 -67.415948

In [15]:
# import math
# np.radians(111.43)
# # math.radians(111.43)

In [32]:
#HAVERSINE FUNCTION
def haversine(lat1,lon1,lat2,lon2):
    lat1_rad = np.radians(lat1)
    lat2_rad = np.radians(lat2)
    lon1_rad = np.radians(lon1)
    lon2_rad = np.radians(lon2)
    delta_lat = lat2_rad-lat1_rad
    delta_lon = lon2_rad-lon1_rad
    a = np.sqrt((np.sin(delta_lat/2))**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * (np.sin(delta_lon/2))**2 )
    d = 2 * 6371000 * np.arcsin(a)
    return d

# #DISTANCE CALCULATION
# d_list=[]
# for i in range(len(lat_list)-1):
#     dp=haversine(lat_list[i],lon_list[i],lat_list[i+1],lon_list[i+1])/1000 #km
#     d_list.append(dp)
# d_list_rev=d_list[::-1] #reverse list

In [34]:
np.min(haversine(shorelines.lat, shorelines.lon, df_races.iloc[0].lat, df_races.iloc[0].lon)/1000)

319.5406064715144

In [17]:
df_races.iloc[0].lat

-9.661668911088913